body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-inter: Inter;
  
    /* font sizes */
    --font-size-base: 16px;
    --font-size-smi: 13px;
    --font-size-sm: 14px;
  
    /* Colors */
    --color-white: #fff;
    --color-mediumslateblue-100: #1740d4;
    --color-mediumslateblue-200: rgba(23, 64, 212, 0.7);
    --color-gray-100: #fdfeff;
    --color-gray-200: #272727;
    --color-gray-300: #191919;
    --color-gray-400: rgba(0, 0, 0, 0.4);
    --color-ghostwhite: #f9faff;
    --color-darkblue: rgba(55, 52, 199, 0);
    --color-darkslateblue: #223c99;
    --color-darkslategray: #3f6d73;
  
    /* Gaps */
    --gap-xl: 20px;
    --gap-11xs: 2px;
    --gap-3xl: 22px;
    --gap-8xs: 5px;
  
    /* Paddings */
    --padding-9xl: 28px;
  
    /* Border radiuses */
    --br-3xs: 10px;
    --br-5xs: 8px;
  }
  